.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.meal-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal-info h3 {
  font-size: 30px;
  font-weight: 700;
}

.meal-name {
  text-decoration: none;
  color: #d49726;
}

.meal-info h2 {
  color: #d49726;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 58px;
  width: 70%;
  text-align: center;
  cursor: pointer;
}

.meal-img {
  width: 35%;
  object-fit: cover;
  border-radius: 1rem;
  margin: 5rem 5rem;
}

@media (max-width: 768px) {
  .meal-info h3 {
    font-size: 20px;
  }

  .meal-info h2 {
    font-size: 30px;
  }
}
